nav {
  a {
    color: $gray-lighter; 
  }
  a:hover {
      color: $white;
  }
}

.header-image,
.header-image-dashboard {
    padding: 0;
    margin-top: -57px;
    z-index: -1;
    background-image: url(/img/landing.jpg);
    background-position-y: 15%; 
    height: 300px;
}

.header-image-dashboard {
    height: 200px;
}

%center-base {
    display: flex;
    justify-content: center;
}

.center-vertical {
    @extend %center-base;
}

.center {
    @extend %center-base;
    align-items: center;
    text-align: center;
}

.navbar-toggler {
    border-color: $white;
}

.dropdown-menu {
  border: 0;
  background-color: transparent;
  .dropdown-divider {
    border: 0;
  }
}

.nav-item { 
  .nav-link {
    text-align: center;
  }  
  a.dropdown-item {
    color: $white;
    text-align: right;
    &:hover {
      background-color: transparent;
    }
  }
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: $break-lg) {
    %center-base {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: $break-sm) {
  .header-image {
    margin-top: 0;
  }
  .navbar-expand-sm {
    background-color: $gray;
  }
  .dropdown-menu {
    border: 0;
    background-color: $gray;
    .dropdown-divider {
      border: 0;
    }
  }
  .nav-item { 
    text-align: center;
    a.dropdown-item {
      color: $white;
    }
  }
}

.navbar-toggler {
  border: 0;
}

#root {
  overflow-x: hidden;
}