nav {
  a {
    color: $gray-lighter; 
  }
  a:hover {
      color: $white;
  }
}

.header-image {
    padding: 0;
    margin-top: -57px;
    z-index: -1;
    background-image: url(/img/landing.jpg);
    background-position-y: 15%; 
    height: 300px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}